.service__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin-bottom: 30px;
}

.service__list li{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__list li i{
    margin-bottom: 20px;
}

.friends-list{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 20px 0px;
    font-size: 18px;
    color: rgba(0,0,0,0.4);
}

.friends-list__column{
    display: flex;
    justify-content: center;
}

.open-chat__title{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.open-chat__title__column:first-child{
    opacity: 0.7;
}

.open-chat__title__column:last-child{
    opacity: 0.4;
}

.open-chat__home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.open-chat__home__column:first-child{
    display: flex;
    flex-direction: column;
}

.open-chat__home__column__comment{
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 15px
}

.open-chat__home__column__comment:first-child{
    font-size: 20px;
}

.open-chat__home__column__comment:last-child{
    display: flex;
    justify-content: flex-start;
    text-transform: none;
    color: rgba(0,0,0,0.3);
}

.open-chat__home__column__comment:last-child div{
    background-color: rgba(0,0,0,0.3);
    width: 2px;
    height: 15px;
    margin: 0px 5px;
}

.open-chat__home__column__comment:last-child span:last-child{
    color: #FF71C5;
}

.open-chat__home__column__img{
    width: 110px;
    height: 110px;
    border-radius: 8%;
    background-color: seagreen;
}