.more-screen .user-component__column:nth-child(2){
    display: flex;
    flex-direction: column;
}

.more-screen .service-menu{
    margin-top: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 20px;
}

.more-screen .service__list li{
    width: 50px;
    height: 50px;
}

.more-screen .service__list:first-child{
    margin-bottom: 50px;
}


.suggestions .service-menu{
    border:none;
}

.suggestions__title{
    display: block;
    margin: 30px 0px;
    font-size: 18px;
}

.suggestions__column{
    display: flex;
    justify-content: flex-start;
}

.suggestions__column__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.suggestions__column .fa-quote-right{
    padding: 20px;
    background-color: seagreen;
    color: white;
    border-radius: 20%;
    margin-bottom: 10px;
}